body {
  margin: 0;
  padding: 12px;
  font-family: Pretendard;
  box-sizing: border-box;
}

.common-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  padding-bottom: 24px;
}

.common-paragraph {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.common-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 24px;
}

.hero {
  background: url(/public/backgroud.jpg),
    linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.35) 100%), #050304;
  height: 1080px;
  background-color: #ccc;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 40px;
}

.main {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  border-radius: 40px;
}

.navigation {
  /* width: 100%; */
  /* backdrop-filter: blur(2px); */
  display: flex;
  height: 108px;
  padding: 0px 26%;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 40px, 40px, 0, 0;
}

.navigation .right {
  display: flex;
  height: 48px;
  padding: 0px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.navigation .left {
  width: 112.5px;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
}

.navigation .left .logo {
  position: absolute;
  left: 0;
  top: -5px;
  width: 63px;
  height: 63px;
}

.navigation .left .logo1 {
  position: absolute;
  left: 33.75%;
  top: 15px;
  width: 71.03px;
  height: 21.63px;
}

.navigation .left .logo2 {
  position: absolute;
  left: 46%;
  top: 38px;
  width: 42.03px;
  height: 5.78px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px 40px 0px;
  gap: 24px;
}

.header .subtitle {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.12px;
  color: #fff;
  padding: 0 32%;
}

.CTA-wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 52%;
}

.CTA-left,
.CTA-right {
  display: flex;
  flex-direction: column;
}

.CTA-left .title,
.CTA-right .title {
  color: #edc484;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.CTA-left .download,
.CTA-right .download {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.navigation-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 675px;
  width: 1040px;
  margin: auto;
  background: url(/public/main-navigation-image.png) no-repeat top;
  background-size: cover;
}

.navigation-image > div {
  max-height: 500px;
  z-index: -1;
}

.navigation-image img {
  width: 100%;
  object-fit: cover;
  max-height: 850px;
}

.app-intro .common-title {
  color: #997c5c;
}

.app-intro .common-paragraph {
  color: #626576;
}

.user-app-intro .common-title,
.user-app-intro .common-paragraph {
  color: #ffffff;
}

.app-intro {
  background: url(/public/app-intro-background.png) no-repeat center;
  height: 1056px;
  width: 100%;
  z-index: 1;
  border-radius: 40px;
  margin-top: 10px;
}

.section-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
}

.section-content .common-paragraph {
  width: 65%;
}

.app-intro .section-content {
  text-align: center;
  background: url(/public/flower-background.png) no-repeat center;
}

.user-app-intro {
  display: flex;
  border-radius: 40px;
  background: #ae8d68;
  /* display: grid; */
  height: 1056px;
  border-radius: 40px;
  margin-top: 12px;
}

.section-media {
  flex: 2.5;
  border-radius: 40px;
  background: url(/public/user-app-intro.png) no-repeat center;
  background-size: 100% 100%;
  object-fit: cover;
}

.user-app-intro .section-content {
  flex: 1;
  margin: 0 30px;
}

.user-app-intro .section-content .common-paragraph {
  width: 100%;
}

/* .user-app-intro .grid-media {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.user-app-intro .grid-media > img {
  height: 1056px;
  width: 1260px;
}

.user-app-intro .grid-content {
  grid-column: 3;
  grid-row: 1;
}

.user-app-intro .grid-content {
  display: flex;
  padding: 0px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.user-app-intro .grid-content .common-title,
.user-app-intro .grid-content .common-paragraph {
  color: #ffffff;
} */

.general-user {
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  height: 1056px;
  border-radius: 40px;
  margin-top: 12px;
}

.general-user .section-content,
.general-user2 .section-content {
  background: none;
}

.general-user .section-media,
.general-user2 .section-media {
  background: #e9dfd5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-user .section-content,
.general-user2 .section-content {
  width: 29%;
  padding: 0px 80px;
  align-items: flex-start;
  align-self: stretch;
  text-align: start;
  color: #997c5c;
}

.general-user .section-content .common-paragraph,
.general-user2 .section-content .common-paragraph {
  width: 100%;
}

.general-user .section-content .common-paragraph,
.general-user2 .section-content .common-paragraph {
  color: #997c5c;
}

/* .general-user .grid-media {
  grid-column: 3 / span 2;
  grid-row: 1;
}

.general-user .grid-media > img {
  height: 1056px;
  width: 1260px;
}

.general-user .grid-content {
  grid-column: 1;
  grid-row: 1;
}

.general-user .grid-content {
  display: flex;
  padding: 0px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.general-user .grid-content .common-title,
.general-user .grid-content .common-subtitle,
.general-user .grid-content .common-paragraph,
.general-user2 .grid-content .common-title,
.general-user2 .grid-content .common-subtitle,
.general-user2 .grid-content .common-paragraph {
  color: #997c5c;
} */

.general-user2 {
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  height: 1056px;
  border-radius: 40px;
  margin-top: 12px;
}

#main1 {
  background: url(/public/general-user-main1.png) no-repeat center;
  background-size: 1260px 1056px;
}

#main2 {
  background: url(/public/general-user-main2.png) no-repeat center;
  background-size: 1260px 1056px;
}

#main3 {
  background: url(/public/general-user-main3.png) no-repeat center;
  background-size: 1260px 1056px;
}

#main4 {
  background: url(/public/general-user-main4.png) no-repeat center;
  background-size: 1260px 1056px;
}

/* .general-user2 .grid-media {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.general-user2 .grid-media > img {
  height: 1056px;
  width: 1260px;
}

.general-user2 .grid-content {
  grid-column: 3;
  grid-row: 1;
}

.general-user2 .grid-content {
  display: flex;
  padding: 0px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
} */

.app-intro .app-intro-top {
  background-color: #ae8d68;
  border-radius: 40px;
  height: 45%;
}

.app-intro .app-intro-top .section-content-white {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  /* width: 715px; */
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
}

.app-intro .app-intro-top .section-content-white .common-title,
.app-intro .app-intro-top .section-content-white .common-paragraph {
  color: #ffffff;
  text-align: center;
  /* width: 70.5%; */
  width: 100%;
}

.app-intro .app-intro-top .section-content {
  background-image: none;
}

.app-intro .app-intro-bottom {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  height: 50%;
}

.app-intro .app-intro-bottom .phone-media img {
  float: right;
}

.app-intro .app-intro-bottom .app-intro-content {
  margin: auto 0px;
  padding-left: 90px;
}

.app-intro .app-intro-bottom .app-intro-content .app-intro-block {
  width: 550px;
  padding: 0px 12px;
}

.app-intro-content .app-intro-block .common-subtitle {
  color: #997c5c;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: -0.12px;
}

.app-intro-content .app-intro-block .common-paragraph {
  color: #997c5c;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  letter-spacing: -0.12px;
}

.app-section {
  display: flex;
  padding: 12px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.app-section-top {
  border-radius: 40px;
  background: url(/public/app-intro-background.png) no-repeat center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  height: 688px;
  width: 100%;
}

.app-section-top .app-section-block {
  width: 100%;
  height: 471px;
  margin: auto 0;
  background: #ae8d68;
  border-radius: 40px;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
}

.phone-media {
  margin: -6rem;
}

.app-section .phone-media {
  width: 100%;
  /* margin: -6rem; */
  background: url(/public/phone-preview1.png) no-repeat left;
  background-size: contain;
  margin-left: 10px;
}

.app-section-block .phone-media {
  position: relative;
}

.app-section-block .phone-media img {
  position: absolute;
  top: -100px;
}

.app-section-block .app-section-content {
  margin: auto 0;
}

.app-section-block .app-section-content .content-block {
  display: flex;
  width: 540px;
  padding: 0px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  float: right;
  margin-right: 90px;
}

.app-section-content .common-title {
  color: #fff;
  letter-spacing: -0.72px;
}

.app-section-content .common-subtitle {
  color: #fff;
  letter-spacing: -0.12px;
}

.app-section-content .common-paragraph {
  color: #fff;
  font-size: 24px;
  line-height: 36px; /* 150% */
  letter-spacing: -0.12px;
}

.app-section-footer {
  display: flex;
  padding: 12px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.app-section-footer .app-section-block {
  display: flex;
  padding: 40px 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.app-section-footer .app-section-block .app-section-row {
  display: flex;
  padding: 16px 0px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.app-section .app-section-footer {
  display: flex;
  padding: 40px 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: 40px;
  background: #0c1c2d;
  width: 100%;
}

.app-section-footer .footer-title {
  display: flex;
  padding: 16px 0px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  height: 28px;
}

.app-section-footer .footer-paragraph1 {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  height: 28px;
}

.app-section-footer .footer-end {
  display: flex;
  padding: 16px 0px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  height: 28px;
  color: #83909e;
  font-size: 18px;
  line-height: 28px; /* 155.556% */
}

.footer-paragraph1 .paragraph1 {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.footer-paragraph1 .paragraph1 .left {
  color: #83909e;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.footer-paragraph1 .paragraph1 .right {
  color: #f3f4f6;
  font-size: 18px;
  line-height: 28px; /* 155.556% */
}

.footer-paragraph1 .paragraph1 .right {
  color: #f3f4f6;
  font-size: 18px;
  line-height: 28px; /* 155.556% */
}

.separate {
  width: 1px;
  height: 16px;
  background: #83909e;
}

.footer-title p {
  color: #ae8d68;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.phone-preview {
  background: url(/public/phone-preview.png) no-repeat right;
  background-size: contain;
  height: 89%;
  margin-right: 50px;
}

@media only screen and (max-width: 1920) {
  .navigation-image {
    width: 50%;
  }
}

@media only screen and (max-width: 820px) {
  .CTA-wrapper {
    width: 98%;
  }
}

@media only screen and (max-width: 768px) {
  .app-section {
    justify-content: flex-start;
    position: relative;
    height: 544px;
  }

  .app-section:last-of-type {
    height: auto;
  }

  p {
    margin: 3px;
  }

  .common-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.36px;
  }

  .common-subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }

  .common-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .app-intro .app-intro-top .common-paragraph {
    font-size: 14px;
  }

  .navigation {
    padding: 0 24px;
  }

  .section-content,
  .navigation-image {
    width: 100%;
  }

  .header {
    padding: 40px 0px;
  }

  .header > img {
    width: 70%;
    max-width: 430px;
  }

  .header .subtitle {
    padding: 0 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .CTA-wrapper {
    flex-direction: column;
  }

  .CTA-left,
  .CTA-right {
    margin-top: 50px;
    text-align: center;
  }

  .CTA-left .download,
  .CTA-right .download {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }

  .navigation-image {
    min-width: 0;
    max-height: 480px;
    height: 380px;
  }

  .app-intro,
  .user-app-intro {
    display: flex;
    flex-direction: column;
    /* height: 750px; */
    height: 844px;
  }

  .user-app-intro .section-media,
  .user-app-intro .section-content {
    flex: 1;
    max-height: 400px;
  }

  .user-app-intro .section-media {
    border-radius: 40px 40px 0 0;
    background-size: 490px 410px;
  }

  .user-app-intro .section-content {
    margin: 0;
  }

  .user-app-intro .section-content .common-title {
    width: 100%;
    font-size: 36px;
    line-height: 44px;
    padding: 0 0 10px 35px;
  }

  .user-app-intro .section-content .common-paragraph {
    font-size: 16px;
    width: 90%;
    padding: 0 30px 0 35px;
  }

  .general-user {
    border-radius: 40px;
    display: flex;
    flex-direction: column;
  }

  .general-user .section-media,
  .general-user .section-content {
    flex: none;
    max-height: 400px;
  }

  .general-user .section-content {
    padding: 0;
    width: 100%;
  }

  .general-user .section-content {
    display: flex;
    justify-content: center;
  }

  .general-user .section-content .section-content-block {
    padding: 0 12px 25px 12px;
  }

  .general-user .section-media {
    height: 410px;
    order: 1;
  }

  .general-user .section-content .common-title {
    width: 100%;
    font-size: 30px;
    line-height: 45px;
  }

  .general-user .section-content .common-subtitle,
  .general-user .section-content .common-paragraph {
    /* font-size: 14px; */
    width: 90%;
  }

  .app-intro .app-intro-top {
    height: 70%;
  }
  .app-intro .app-intro-bottom {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    height: 30%;
  }

  .app-intro .app-intro-bottom .phone-preview {
    background: url(/public/phone-preview.png) no-repeat center;
    background-size: contain;
    height: 287px;
    margin-right: 0;
  }

  .app-intro .app-intro-bottom .app-intro-content .app-intro-block {
    width: auto;
    margin-top: 0;
  }

  .content-block .common-title,
  .content-block .common-subtitle,
  .content-block .common-paragraph,
  .app-intro-block .common-title,
  .app-intro-block .common-subtitle,
  .app-intro-block .common-paragraph {
    padding-bottom: 0;
  }

  .app-section-block .content-block .common-subtitle,
  .app-section-block .content-block .common-paragraph,
  .app-intro-content .app-intro-block .common-subtitle,
  .app-intro-content .app-intro-block .common-paragraph {
    font-size: 14px;
    line-height: 24px;
  }

  .app-intro .app-intro-bottom .app-intro-content {
    padding-left: 0;
    padding-top: 40px;
  }

  #main1,
  #main2,
  #main3,
  #main4 {
    background-size: 490px 410px;
  }

  .app-intro-bottom .phone-media,
  .app-section-content .phone-media{
    margin: -14.7rem 0 0 0;
  }
  /* .phone-media {
    margin: -14.7rem;
  } */

  .app-section-top .app-section-block {
    margin-top: 0;
  }

  .app-section .app-section-top .app-section-block {
    height: 251px;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
  }

  .app-section .app-section-top {
    height: 100%;
  }

  .app-section .app-section-block .app-section-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 281px;
  }

  .app-section-block .app-section-content .content-block {
    height: 100%;
    margin-right: 0;
    width: auto;
    float: none;
  }

  .app-intro .app-intro-bottom .app-intro-content .app-intro-block,
  .app-section-block .app-section-content .content-block {
    padding: 0 12px 25px 12px;
  }

  .app-section-content .common-title,
  .app-section-content .common-subtitle,
  .app-section-content .common-paragraph {
    color: #997c5c;
  }

  .app-section .phone-media {
    height: 287px;
    background: url(/public/phone-preview1.png) no-repeat center;
    background-size: contain;
    margin: 30px 0;
  }

  .app-section .app-section-footer {
    padding: 24px;
    border-radius: 40px;
  }

  .app-section-footer .footer-end {
    color: #83909e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  
  .footer-paragraph1 .paragraph1 {
    display: flex;
    align-items: flex-start;
    gap: 4px;
  }
  
  .footer-paragraph1 .paragraph1 .left {
    color: #83909e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  
  .footer-paragraph1 .paragraph1 .right {
    color: #f3f4f6;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  
  .separate {
    width: 1px;
    height: 16px;
    background: #83909e;
  }
  
  .footer-title p {
    color: #ae8d68;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  .app-section-footer .footer-paragraph1 {
    flex-wrap: wrap;
    height: auto;
    gap: 5px;
  }

}

@media only screen and (max-width: 520px) {
  .hero {
    height: 900px;
  }
  .navigation-image {
    height: 30%;
  }

  /* .user-app-intro {
    width: 100%;
    height: auto !important;
    display: block;
  }

  .user-app-intro .grid-media {
    width: 100%;
  }

  .user-app-intro .grid-media > img {
    width: 100%;
    height: 50%;
    border-radius: 40px 40px 0px 0px;

  }

  .user-app-intro .grid-content {
    display: flex;
    padding: 100px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
  } */

  .general-user.app-intro {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    height: 844px;
  }

  .general-user .grid-media {
    width: 100%;
  }
  .general-user .grid-media > img {
    width: 100%;
    height: 100%;
  }

  .general-user .grid-content {
    padding: 100px 24px;
  }

  .general-user2.app-intro {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .general-user2 .grid-media {
    width: 100%;
  }
  .general-user2 .grid-media > img {
    width: 100%;
    height: 100%;
  }

  .general-user2 .grid-content {
    padding: 100px 24px;
  }

  /* .app-intro {
    height: auto;
    display: flex;
    flex-direction: column;
  } */

  /* .app-intro .app-intro-top {
    height: 100vh;
  } */

  .app-intro .app-intro-top .section-content-white {
    width: auto;
    padding: 100px 24px;
    display: block;
  }

  .app-intro .app-intro-bottom .phone-media {
    position: relative;
  }

  .app-intro .app-intro-bottom .phone-media img {
    position: absolute;
    top: -320px;
  }

  .app-intro .app-intro-top .section-content-white .common-title {
    width: 100%;
  }

  .app-intro .app-intro-top .section-content-white .common-paragraph {
    width: 100%;
  }
}
